@media only screen and (min-width: 481px) {

    html::-webkit-scrollbar {
        width: 10px;
    }

    html::-webkit-scrollbar-track {
        background-color: transparent;
    }

    html::-webkit-scrollbar-thumb {
        color: white;
    }

    h1 {
        font-size: 8em;
    }

    h2 {
        font-size: 2.5em;
    }

    .navbar a {
        font-size: 6.5rem;
    }

    .page-main {
        margin-top: 0;
    }

    .about-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about, .projects {
        margin-top: 2em;
    }

    .about>h1, .projects>h1 {
        font-size: 6.5em;
    }

    .about>p {
        padding: 1em 10%;
    }

    .about>img {
        width: 20em;
        height: 20em;
    }

    .about-img-wrap {
        margin-right: 2em;
    }

    .about-img-wrap>img {
        display: block;
        margin-top: 0;
        width: 7em;
    }

    .about-img-wrap>span {
        margin-bottom: .8em;
    }

    .contact-main {
        margin-top: 6em;
    }

    .contact-main>h1 {
        font-size: 7em;
    }

    .contact-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .contact-wrapper>div {
        margin: 1em;
    }

    .contact-wrapper>div>span {
        transition: all .4s ease;
    }

    .contact-wrapper>div>span:hover {
        transform: scale(1.2);
        transition: all .5s ease;
    }

    .project-cards {
        margin-top: 10em;
        display: grid;
        grid-template-columns: repeat(3, 400px);
        justify-items: center;
    }

    .card {
        width: 330px;
        height: 390px;
        transition: all .5s ease;
    }

    .card:hover {
        background-color: white;
        transform: scale(1.05) translateY(-5px) rotate(-2deg); 
        box-shadow: 0px 5px 20px white, 0px -5px 20px white;
        transition: all .4s ease;
    }
}